@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  min-height: 100vh;
  background-color: rgb(204, 202, 202); /* lightblue */
  padding-bottom: 100px;
  position: relative;
  font-family: 'Poppins', sans-serif; 
}

nav {
  background-color: rgb(26, 25, 25);
  height: 70px;
  margin-bottom: 50px;
  padding-top: 20px;
  position: sticky;
  top: 0;
  z-index: 10;
}
nav ul li {
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition-duration: .2s;
}
nav ul li a:hover {
  border-bottom: solid 2px rgb(84, 224, 224);
  color: white;
}
nav ul li i.bi-heart-fill {
  font-size: 25px;
}

nav ul {
  position: relative;
  display: flex;
  justify-content: space-evenly; 
}
nav ul li.logo {
  position: absolute;
  left: 0;
  top: -30px;
  cursor: pointer;
}
/************** styling active links : link of current page via NavLink*/
nav ul li a.active {
  color: rgb(236, 126, 24);
}
/************************************/
nav ul li.favori i.bi-heart-fill {
  font-size: 28px;
}
nav ul li.favori {
  position: relative;
}
nav ul li.favori a:hover {
  border: none;
}
nav ul li.favori .countFavori {
    position: absolute;
    top: -8px;
    right: -10px;
    background-color: rgba(255, 255, 0, 0.5);
    border-radius: 50%;
    width: 22px;
    height: 22px;
    font-size: 15px;
}
nav ul li a i.bi-cart-fill {
  font-size: 25px;
}
nav ul li.cart a:hover {
  border: none;
}
.footer {
  width: 100%;
  position:absolute;
  bottom: 0;
  min-height: 60px;
  font-weight: 600;
  font-size: 22px;
  font-family:'Times New Roman', serif   ;
  color: white;
  background-color: rgb(26, 25, 25);
}
.footer .social-icons a {
  margin-right: 18px;
  font-size: 20px;
}
/********************************************/
.allprod-container {
  background-color: rgba(248, 205, 124, 0.637) ; /*rgba(150, 110, 35, 0.767)*/
  padding: 50px 25px;
  border-radius: 15px;
  box-shadow: 0px 0px 12px rgb(109, 109, 109);
  margin-bottom: 200px;
}
.product-container {
  background-color: rgb(224, 224, 224) ;
  border-radius: 12px 30px;
  padding: 0 ;
  border: solid 1px gray; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.product-container img {
  border-radius: 12px 30px 0px 0px;
}
.product-container .product-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
  width: 100%;
  padding: 0 6px;
  font-size: 16px ;
}
.product-container .card-actions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 0 6px;
  margin-bottom: 16px;
}
.product-container .card-actions .bi-heart-fill {
  cursor: pointer;
}
.product-container .card-actions input {
  z-index: 5;
  color: red;
}
.product-container button {
  color: white;
  transition-duration: .4s;
  font-size: 12px;
}
.product-container button.add {
  background-color: blueviolet;
}

.product-container button.add:hover {
  background-color: rgb(127, 44, 211);
  color: rgb(189, 188, 188);
}
.product-container button.remove:hover {
  background-color: #df2a3c;
  color: rgb(189, 188, 188);
}


.favori-container, .cart-container {
  width: 70vw !important;
  margin-bottom: 80px !important;
}
.favori-container .list-favori, .cart-container .list-cart {
  height: 400px;
  padding-right: 18px;
  overflow-y: auto;
}

.favori-container, .cart-container {
  background-color: white;
  min-height: 40%;
  width: 60%;
  margin: 30px auto;
  border-radius: 15px;
  box-shadow: 0px 0px 12px rgb(109, 109, 109);
  padding: 35px;
}
.favori-container .item-favori button {
  /*display: flex;
  justify-content: space-evenly;
  align-items: center;*/
  width: 30px;
  padding-right: 28px;
}

.favori-container .item-favori, .cart-container .cart-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 8px;
  transition: all .4s ease-in-out;
}
.favori-container .item-favori:hover {
  background-color: rgba(206, 206, 206, 0.671);
  transform: scale(1.03);
}
.cart-item-container {
  /* background-color: rgb(209, 206, 206); */
  transition: all .4s ease-in-out;
}
.cart-item-container p {
  font-size: 22px;
}
.cart-item-container img {
  margin-left: -12px;
}
.cart-item-container button {
  width: 30px;
  font-size: 15px;
  padding-left: 8px;
}
.cart-item-container .quantity-container button {
  background-color: rgb(102, 196, 219);
  color: white;
  font-size: 20px;
  height: 32px;
  border: none;
  padding: 0;
  border-radius: 50%;
  width: 35px;
}
.cart-item-container:hover {
  transform: scale(1.03);
  background-color: rgba(206, 206, 206, 0.671);
  box-shadow: 4px 2px 8px rgb(244, 172, 244);
}
.total-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  position: relative;
  font-size: 22px;
}
.total-container p {
  border-radius: 15px;
  width: 150px;
  border: solid 1px violet;
  background-color: rgb(235, 169, 235);
  margin-right: 35px;
  /*margin-right: -350px;*/
}
.total-container span {
  /*margin-left: -50px;*/
  position: absolute;
  right: 0;
  top:0px;
}
.filtre-container {
  text-align: start;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 12px rgb(109, 109, 109);
  height: 380px;
  position: relative;
}
.filtre-container ul li {
  list-style-type: none;
}
.filtre-container input {
  margin-right: 10px;
}
.filtre-container .bi-funnel-fill {
  position: absolute;
  top: 18px;
  right: 15px;
  font-size: 25px;
}
.filtre-container .clear-filtre-btn {
  padding: 4px 12px;
}
/***************************************************/
.home {
  margin-top: 50px;
  min-height: 500px;
}
.home .slogan {
  background-color: #ffffffa2;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -12px;
}
.home .slogan h2 {
  font-size: 32px;
  padding: 24px;
}

.discover a {
  font-size: 24px;
  margin-bottom: 30px;
}
@media all and (max-width: 1199px) {
  .home .slogan {
    padding: 70px 8px ;
  }
}

@media all and (max-width: 991px) {
  .favori-container, .cart-container {
    width: 80vw !important;
    margin-bottom: 150px !important;
  }

  .home {
    min-height: 300px !important;
  }
  .home .slogan {
    height: 240px;
    margin-right: 0px !important;
  }
  .home .slogan h2 {
    font-size: 26px;
    padding: 18px;
  }
  img.shopping-img {
    height: 350px;
  }
  .discover a {
    font-size: 18px;
    margin-bottom: 60px !important;
  }
}

@media all and (max-width: 768px) {
  .favori-container, .cart-container {
    width: 90vw !important;
  }

  .filtre-container {
    width: 90% !important;
    height: 380px !important;
    padding: 12px !important;
    margin-bottom: 42px !important;
  }

  .allprod-container {
    width: 90% !important;
  }

  .discover a {
    font-size: 16px;
    margin-bottom: 100px !important;
  }
}

@media all and (max-width: 576.5px) {
  .home .slogan, .home .shopping-img-container {
    width: 90% !important;
  }
  .home .slogan {
    height: 150px !important;
  }
  .home .slogan h2 {
    font-size: 18px;
    padding: 12px;
  }
  img.shopping-img {
    height: 300px;
  }
  .discover a {
    font-size: 14px;
  }

  .product-container {
    height: 300px !important;
    width: 70% !important;
  }
  .product-container img {
    border-radius: 12px 30px 0px 0px;
  }
}